<%- include ('./partials/head') %>
<body>
    <%- include ('./partials/nav') %>
    <main id="mainEvents">
        <h6>PRIVATE EVENTS</h6>
        <section class="mainFlex">
            <article class="mainFlexFrame">
                <div class="frameLeft"></div>
                <img class="img" src="img/ring.jpg" alt="">
                <div class="EventBox" id="EventBoxLeft">
                    <h4>WEDDINGS</h4>
                </div>
            </article>
            <article class="mainFlexFrame">
                <div class="frameRight"></div>
                <div class="EventBox" id="EventBoxRight">
                    <h4>CORPORATE MEETINGS</h4>
                </div>
                <img class="img" src="img/ring.jpg" alt="">
            </article>
        </section>
        <section class="booking">
            <p class="bookingText">Mon - Fri: <span class="btS">8PM - 10PM</span>, Sat - Sun: <span class="btS">8PM - 3AM</span>, Phone:<span class="btS">+40 729 131 637/+40 726 458 782</span></p>
        </section>
    </main>
    <%- include ('./partials/footer') %>
</body>
</html>