<%- include ('./partials/head') %>

<body>
    <%- include ('./partials/nav') %>
    <main id="mainIndex" class="mainFlex">
        <article class="mainFlexText">
            <h2>ABOUT US</h2>
            <img src="img/line.svg" alt="" class="line">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
                magna.</h5>
            <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed
                dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris
                tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
            <div></div>
        </article>
        <article class="mainFlexFrame">
            <img class="img" src="img/fire.jpg" alt="">
            <div class="frameRight"></div>
        </article>
    </main>
    <%- include ('./partials/footer') %>
</body>

</html>